* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
  background-color: black;
}
.imageSliderContainer {
  width: 100%;
  height: 85vh;
  display: flex;
  align-items: center;
  overflow: hidden;
  background: linear-gradient(to right, rgb(255 65 108), rgb(255 75 43));
}
.imageSlider {
  width: 100%;
  height: 600px;
  position: absolute;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.7s;
}
.slider-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 30px 0 30px;
}
.img {
  position: relative;
  width: 240px;
  height: 370px;
  transition: 0.7s;
  filter: saturate(10%);
}
.button {
  position: absolute;
  width: 240px;
  height: 370px;
  background: rgba(0, 0, 0, 0.4);
}
.button:hover {
  background: rgba(0, 0, 0, 0.2);
}
